<div class="flex flex-column gap-half align-center" data-controller="dialog filter-form" data-action="keydown.esc->dialog#close click@document->dialog#closeOnClickOutside turbo:before-cache@document->dialog#close">
  <h1 class="txt-large flex align-center gap-half">
    <%= filter.buckets.first&.name || "All projects" %>
  </h1>

  <div class="filters flex-inline align-center gap-half">
    <button class="btn btn--plain txt-small" data-action="click->dialog#toggle">
      <%= image_tag "filter.svg", aria: { hidden: true }, size: 24 %>
      <span class="for-screen-reader">Filter</span>
    </button>

    <%= form_with url: bubbles_path, method: :get, class: "flex-inline center align-center gap-half", data: { controller: "form" } do %>
      <%= filter_chip_tag filter.indexed_by.humanize, name: "indexed_by", value: filter.indexed_by %>

      <% filter.tags.each do |tag| %>
        <%= filter_chip_tag tag.hashtag, name: "tag_ids[]", value: tag.id %>
      <% end %>

      <% filter.assignees.each do |assignee| %>
        <%= filter_chip_tag "for #{assignee.name}", name: "assignee_ids[]", value: assignee.id %>
      <% end %>

      <% if filter.assignments.present? %>
        <%= filter_chip_tag filter.assignments.humanize, name: "assignments", value: filter.assignments %>
      <% end %>

      <% filter.assigners.each do |assigner| %>
        <%= filter_chip_tag "by #{assigner.name}", name: "assigner_ids[]", value: assigner.id %>
      <% end %>

      <% filter.buckets.each do |bucket| %>
        <%= filter_chip_tag "in #{bucket.name}", name: "bucket_ids[]", value: bucket.id %>
      <% end %>

      <% filter.terms.each do |term| %>
        <%= filter_chip_tag %Q("#{term}"), name: "terms[]", value: term %>
      <% end %>
    <% end %>
  </div>

  <dialog class="panel fill-white shadow" style="--panel-padding: var(--block-space); --panel-size: 90ch;" data-dialog-target="dialog">
    <div class="flex flex-column gap-half">
      <div class="flex align-center gap-half justify-space-between">
        <span class="btn btn--placeholder txt-small" aria-hidden="true"></span>

        <h2 class="txt-large flex gap-half margin-none">
          <%= filter.buckets.first&.name || "All projects" %>
        </h2>

        <form method="dialog">
          <button class="btn panel__close txt-small" title="Close (esc)">
            <%= image_tag "remove.svg", aria: { hidden: true }, size: 24 %>
            <span class="for-screen-reader">Close</span>
          </button>
        </form>
      </div>

      <div class="flex-inline center align-center gap-half margin-block-half">
        <button class="btn btn--plain txt-small" data-action="click->dialog#toggle">
          <%= image_tag "filter.svg", aria: { hidden: true }, size: 24 %>
          <span class="for-screen-reader">Filter</span>
        </button>

        <%= form_with url: bubbles_path, id: :filter_form, method: :get, class: "flex-inline center align-center gap-half" do %>
          <%= turbo_frame_tag :indexed_by_chips do %>
            <%= filter_chip_tag filter.indexed_by.humanize, name: "indexed_by", value: filter.indexed_by, class: "fill-selected" %>
          <% end %>

          <%= turbo_frame_tag :tag_chips do %>
            <% filter.tags.each do |tag| %>
              <%= filter_chip_tag tag.hashtag, name: "tag_ids[]", value: tag.id, class: "fill-selected" %>
            <% end %>
          <% end %>

          <%= turbo_frame_tag :assignee_chips do %>
            <% filter.assignees.each do |assignee| %>
              <%= filter_chip_tag "for #{assignee.name}", name: "assignee_ids[]", value: assignee.id, class: "fill-selected" %>
            <% end %>

            <% if filter.assignments.present? %>
              <%= filter_chip_tag filter.assignments.humanize, name: "assignments", value: filter.assignments, class: "fill-selected" %>
            <% end %>
          <% end %>

          <%= turbo_frame_tag :assigner_chips do %>
            <% filter.assigners.each do |assigner| %>
              <%= filter_chip_tag "by #{assigner.name}", name: "assigner_ids[]", value: assigner.id, class: "fill-selected" %>
            <% end %>
          <% end %>

          <%= turbo_frame_tag :bucket_chips do %>
            <% filter.buckets.each do |bucket| %>
              <%= filter_chip_tag "in #{bucket.name}", name: "bucket_ids[]", value: bucket.id, class: "fill-selected" %>
            <% end %>
          <% end %>

          <%= turbo_frame_tag :terms_chips do %>
            <% filter.terms.each do |term| %>
              <%= filter_chip_tag %Q("#{term}"), name: "terms[]", value: term, class: "fill-selected" %>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <%= form_with url: filter_chips_path, method: :post, class: "flex gap flex-item-grow align-center justify-center full-width center margin-block" do %>
        <%= hidden_field_tag :name, "terms[]" %>
        <%= hidden_field_tag :frame, :terms_chips %>

        <input name="value" type="text" class="input full-width" placeholder="Type to match words…" autocomplete="off" />

        <button class="btn txt-small" type="submit">
          <span class="for-screen-reader">Submit text filter</span>
          <%= image_tag "add.svg", aria: { hidden: true }, size: 24 %>
        </button>
      <% end %>

      <div class="flex flex-column gap full-width" style="--border-color: var(--color-subtle)">
        <div class="flex gap">
          <div class="flex gap flex-item-grow">
            <menu class="filter__menu list-style-none unpad margin-none">
              <li><strong class="filter__label">Sort by</strong></li>

              <% Filter::INDEXES.each do |index| %>
                <li>
                  <%= button_to_chip index.humanize, params: { text: index.humanize, name: "indexed_by", value: index, frame: :indexed_by_chips }, data: { action: "filter-form#clearCategory", filter_form_name_param: "indexed_by" } %>
                </li>
              <% end %>
            </menu>
          </div>

          <hr class="separator" />
          <div class="flex gap flex-item-grow">
            <menu class="filter__menu list-style-none unpad margin-none">
              <li><strong class="filter__label">In Project</strong></li>

              <li>
                <%= button_to_chip "All projects", data: { action: "filter-form#clearCategory", filter_form_name_param: "bucket_ids[]" } %>
              </li>

              <% Current.user.buckets.order(:name).each do |bucket| %>
                <li>
                  <%= button_to_chip bucket.name, params: { text: "in #{bucket.name}", name: "bucket_ids[]", value: bucket.id, frame: :bucket_chips } %>
                </li>
              <% end %>
            </menu>
          </div>

          <hr class="separator" />
          <div class="flex gap flex-item-grow">
            <menu class="filter__menu list-style-none unpad margin-none">
              <li><strong class="filter__label">Tagged</strong></li>

              <% Current.account.tags.order(:title).each do |tag| %>
                <li>
                  <%= button_to_chip tag.title, params: { text: tag.hashtag, name: "tag_ids[]", value: tag.id, frame: :tag_chips } %>
                </li>
              <% end %>
            </menu>
          </div>

          <hr class="separator" />
          <div class="flex gap flex-item-grow">
            <menu class="filter__menu list-style-none unpad margin-none">
              <li><strong class="filter__label">Assigned to…</strong></li>

              <li>
                <%= button_to_chip "No one", params: { text: "Unassigned", name: "assignments", value: "unassigned", frame: :assignee_chips }, data: { action: "filter-form#clearCategory", filter_form_name_param: "assignee_ids[]" } %>
              </li>
              <li>
                <%= button_to_chip "Me", params: { text: "for #{Current.user.name}", name: "assignee_ids[]", value: Current.user.id, frame: :assignee_chips }, data: { action: "filter-form#clearCategory", filter_form_name_param: "assignments" } %>
              </li>
              <% Current.account.users.active.without(Current.user).order(:name).each do |user| %>
                <li>
                  <%= button_to_chip user.name, params: { text: "for #{user.name}", name: "assignee_ids[]", value: user.id, frame: :assignee_chips }, data: { action: "filter-form#clearCategory", filter_form_name_param: "assignments" } %>
                </li>
              <% end %>
            </menu>
          </div>

          <hr class="separator" />
          <div class="flex gap flex-item-grow">
            <menu class="filter__menu list-style-none unpad margin-none">
              <li><strong class="filter__label">Assigned by…</strong></li>

              <li>
                <%= button_to_chip "Me", params: { text: "by #{Current.user.name}", name: "assigner_ids[]", value: Current.user.id, frame: :assigner_chips }, data: { action: "filter-form#clearCategory", filter_form_name_param: "assignments" } %>
              </li>
              <% Current.account.users.active.without(Current.user).order(:name).each do |user| %>
                <li>
                  <%= button_to_chip user.name, params: { text: "by #{user.name}", name: "assigner_ids[]", value: user.id, frame: :assigner_chips }, data: { action: "filter-form#clearCategory", filter_form_name_param: "assignments" } %>
                </li>
              <% end %>
            </menu>
          </div>
        </div>
      </div>

      <div class="flex align-center txt-align-center justify-space-between gap-half margin-block-start">
        <%= tag.button class: "btn", form: :filter_form, formaction: filters_path, formmethod: :post do %>
          <%= image_tag "bubbles.svg", aria: { hidden: true }, size: 24 %>
          <span>Save to home</span>
        <% end %>

        <button class="btn btn--reversed" form="filter_form">
          <span>Apply</span>
          <%= image_tag "arrow-right.svg", aria: { hidden: true }, size: 24 %>
        </button>
      </div>
    </div>
  </dialog>
</div>
